.floating-panel {
    position: fixed;
    right: 0px;
    top: 80px;
    z-index: 1;
}

.source-selection {
    width: 200px;
    margin-right: 50px;
}

.toggle-panel {
    float: right;
    height: fit-content;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 20px 0 0 20px;
}

.toggle-text {
    font-weight: bold;
    margin: 10px 0 0 10px;
}
