<div class="floating-panel">
    <div class="toggle-panel" (click)="displaySelection = !displaySelection">
        <div class="toggle-text">
            <h3>Data sources</h3>
        </div>
    </div>
    <div class="source-selection" *ngIf="dataSources && displaySelection">
        <mat-card>
            <div *ngFor="let source of dataSources; let i = index">
                <mat-checkbox [(ngModel)]="selectedDatasets[i]">{{ source[1] }}</mat-checkbox>
            </div>
            <br>
            <button mat-stroked-button id="select-button" (click)="changeSelection()">Save</button>
        </mat-card>
    </div>
</div>
