.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }

.list-group-item {
  list-style: none;
}

a {
  color: unset;
  text-decoration: unset;
}

button {
  margin: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}