<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
      </div>
    </div>
    <div class="col-md-6">
      <button mat-raised-button color="accent" (click)="align('full')">Align melody</button>
      <button mat-raised-button color="accent" (click)="align('syllables')">Align text</button>
      <br>
      <ng-container>
        <mat-checkbox
          class="margin-right"
          (change)="selectAll()"
          [(ngModel)]="selectedAll">
          Select all
        </mat-checkbox>
        <table>
          <tr>
            <th></th>
            <th>Incipit</th>
            <th>Source</th>
            <th>Genre</th>
            <th>Dataset name</th>
          </tr>
          <tr mat-cell
            class="list-group-item"
            *ngFor="let chant of chants; let i = index">
            <td>
              <mat-checkbox
                class="margin-right"
                [(ngModel)]="selected[pageIndex * pageSize + i]">
              </mat-checkbox>
            </td>
            <td>
              <a [routerLink]="['/chants', chant.id]">
                {{ chant.incipit }}
              </a>
            </td>
            <td>{{ chant.siglum }}, {{ chant.folio }}, {{ chant.position }}</td>
            <td>{{ chant.genre_id }}</td>
            <td>{{ chant.dataset_name }}</td>
          </tr>
        </table>
        <mat-paginator #paginator
          [length]="dataLength"
          [pageSize]="pageSize"
          [pageIndex]="pageIndex"
          [pageSizeOptions]="[20, 50, 100, 200]"
          (page)="changePage($event)">
        </mat-paginator>
      </ng-container>
  </div>