<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <!-- <input
          type="text"
          class="form-control"
          placeholder="Search by incipit"
          [(ngModel)]="incipit"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchIncipit()"
          >
            Search
          </button>
        </div> -->
      </div>
    </div>
    <div class="col-md-6">
      <h4>Chant List</h4>
      <button mat-button (click)="getSelected()">Align</button>
      <br>
      <ng-container>
        <mat-checkbox
          class="margin-right"
          (change)="selectAll()"
          [(ngModel)]="selectedAll">
          Select all
        </mat-checkbox>
        <li mat-cell
          class="list-group-item"
          *ngFor="let chant of chants; let i = index">
          <mat-checkbox
            class="margin-right"
            [(ngModel)]="selected[i]">
            {{ chant.incipit }}
          </mat-checkbox>
        </li>
      </ng-container>
      <!-- <mat-checkbox (change)="selectAll();">Select all</mat-checkbox>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let chant of chants; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveChant(chant, i)"
        >
          <mat-checkbox (change)="checkboxChanged($event.checked, chant.id);" class="chant-checkbox">
            {{ chant.incipit }}
          </mat-checkbox>
        </li>
      </ul> -->
  
    <!-- </div>
    <div class="col-md-6">
      <div *ngIf="currentChant">
        <h4>Chant</h4>
        <div>
          <label><strong>incipit:</strong></label> {{ currentChant.incipit }}
        </div>
        <div>
          <label><strong>Volpiano:</strong></label>
          {{ currentChant.volpiano }}
        </div>
        <div>
            <label><strong>Full Text:</strong></label>
            {{ currentChant.full_text }}
          </div>
  
        <a class="badge badge-warning" routerLink="/chants/{{ currentChant.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentChant">
        <br />
        <p>Please click on a Chant...</p>
      </div>
    </div> -->
  </div>