<div class="alignment">
    <div cdkDropList class="scrollable" *ngIf="aligned; else progressSpinner" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let chant of aligned.chants; let i = index" class="card" cdkDrag>
            <div *ngIf="alignmentPresent[i]">
                <div *ngIf="alignmentUncollapsed[i]; else collapsed">
                    <mat-card>
                        <div class="chant">
                            <mat-card-title-group>
                                <div class="title-group">
                                    <button mat-button class="title-button" (click)="showDetail(aligned.success.ids[i])">{{ aligned.success.sources[i] }}</button>
                                    <div class="alignment-options">
                                        <button mat-button class="collapse-button" (click)="collapseAlignment(i)">
                                            <mat-icon>keyboard_arrow_up</mat-icon>
                                        </button>
                                        <button mat-button class="delete-button" (click)="deleteAlignment(i)">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </mat-card-title-group>
                            <br>
                            <div *ngFor="let word of chant; let lastWord = last" class="word">
                                <div *ngFor="let syllable of word; let lastSyllable = last" class="syllable">
                                    <div class="volpiano">
                                        <span class="neumes" *ngFor="let neume of syllable.volpiano">
                                            <span *ngIf="showColors" [ngStyle]="getColor(neume)">{{ neume }}</span>
                                            <span *ngIf="!showColors">{{ neume }}</span>
                                        </span>
                                        <span *ngIf="lastSyllable && !lastWord" class="bar">7</span>
                                    </div>
                                    <div class="text">
                                        <span class="lyric">{{ syllable.text }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <ng-template #collapsed>
                    <mat-card>
                        <div class="collapsed-chant">
                            <mat-card-title-group>
                                <div class="title-group">
                                    <button mat-button class="title-button" (click)="showDetail(aligned.success.ids[i])">{{ aligned.success.sources[i] }}</button>
                                    <div class="alignment-options">
                                        <button mat-button class="collapse-button" (click)="uncollapseAlignment(i)">
                                            <mat-icon>keyboard_arrow_down</mat-icon>
                                        </button>
                                        <button mat-button class="delete-button" (click)="deleteAlignment(i)">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </mat-card-title-group>
                        </div>
                    </mat-card>
                </ng-template>
            </div>
            <div class="detail" *ngIf="visibleDetails[aligned.success.ids[i]]">
                <app-chant-details [id]="aligned.success.ids[i]"></app-chant-details>
            </div> 
        </div>
        <mat-checkbox [(ngModel)]="showColors" class="color-checkbox">Show colors</mat-checkbox><br>
        <button mat-raised-button (click)="downloadAligned()" color="primary" class="download-button">Download</button>
    </div>
    <ng-template #progressSpinner>
        <div class="spinner">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
</div>