.card {
    margin: 20px;
}

.title-group {
    width: 100%;
    display: flex;
    justify-content: left;
}

.download-button {
    margin: 20px;
}

.scrollable {
    overflow-x: scroll;
}

.alignment {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.color-checkbox,
.conservation-checkbox,
.header-checkbox {
    margin-left: 20px;
}

.spinner {
    margin: auto;
}

.raw {
    font-family: 'Courier New', Courier, monospace;
}

.mode-selector {
    margin: 20px;
}
