.card {
    margin: 20px;
}

.title-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.download-button {
    margin: 20px;
}

.scrollable {
    overflow-x: scroll;
}

.alignment {
    width: 100%;
    height: 100%;
    display: flex;
}

.color-checkbox {
    margin-left: 20px;
}

.spinner {
    margin: auto;
}

mat-card {
    width: fit-content;
}