<div class=flexbox-container>
    <div>
        <button mat-fab color="accent" aria-label="home" [routerLink]="''">
            <mat-icon >home</mat-icon>
        </button>
        <a mat-button [routerLink]="'/dashboard'"> Dashboard </a>
        <a mat-button (click)="resetChantList()" [routerLink]="'/chants'"> Chant list </a>
        <a mat-button [routerLink]="'/upload'"> Upload data </a>
    </div>
    <div>
        <mat-form-field floatLabel=never class="searchBar">
            <mat-icon matPrefix>search</mat-icon>
            <input type="search" 
                (keyup.enter)="search($event)" 
                placeholder="Search incipit"
                [value]="searchValue"
                matInput>
        </mat-form-field>
    </div>
</div>
