<app-multiple-series-scatterplot
    *ngIf="multiScatterData"
    [chartTitle]="multiScatterTitle"
    [valueXName]="multiScatterXName"
    [valueYName]="multiScatterYName"
    [data]="multiScatterData"
    id="multiScatterPlot">
</app-multiple-series-scatterplot>

<app-stacked-histogram
    *ngIf="melodyStackedHistData"
    [chartTitle]="melodyStackedHistTitle"
    [groupName]="melodyStackedHistGroupName"
    [valueXName]="melodyStackedHistXName"
    [valueYName]="melodyStackedHistYName"
    [data]="melodyStackedHistData">
</app-stacked-histogram>

<app-stacked-histogram
    *ngIf="textStackedHistData"
    [chartTitle]="textStackedHistTitle"
    [groupName]="textStackedHistGroupName"
    [valueXName]="textStackedHistXName"
    [valueYName]="textStackedHistYName"
    [data]="textStackedHistData">
</app-stacked-histogram>
