<app-multiple-series-scatterplot
    *ngIf="multiScatterData"
    [chartTitle]="multiScatterTitle"
    [valueXName]="multiScatterXName"
    [valueYName]="multiScatterYName"
    [data]="multiScatterData"
    id="multiScatterPlot">
</app-multiple-series-scatterplot>

<!-- <app-zoomable-scatter-plot
    *ngIf="scatterPlotData"
    [chartTitle]="scatterPlotTitle"
    [data]="scatterPlotData"
    [valueXName]="scatterPlotXName"
    [valueYName]="scatterPlotYName"
    id="scatterPlot">
</app-zoomable-scatter-plot> -->

<!-- <app-scatter-plot
    *ngIf="scatterPlotData"
    [chartTitle]="scatterPlotTitle"
    [data]="scatterPlotData"
    [valueXName]="scatterPlotXName"
    [valueYName]="scatterPlotYName"
    id="scatterPlot">
</app-scatter-plot> -->

<!-- <app-histogram 
    *ngIf="melodyLengthHistData" 
    [chartTitle]="melodyLengthHistTitle" 
    [data]="melodyLengthHistData"
    id="melodyLengthHist">
</app-histogram>

<app-histogram
    *ngIf="textLengthHistData"
    [chartTitle]="textLengthHistTitle"
    [data]="textLengthHistData"
    id="textLengthHist">
</app-histogram> -->

<app-stacked-histogram
    *ngIf="melodyStackedHistData"
    [chartTitle]="melodyStackedHistTitle"
    [groupName]="melodyStackedHistGroupName"
    [valueXName]="melodyStackedHistXName"
    [valueYName]="melodyStackedHistYName"
    [data]="melodyStackedHistData">
</app-stacked-histogram>

<app-stacked-histogram
    *ngIf="textStackedHistData"
    [chartTitle]="textStackedHistTitle"
    [groupName]="textStackedHistGroupName"
    [valueXName]="textStackedHistXName"
    [valueYName]="textStackedHistYName"
    [data]="textStackedHistData">
</app-stacked-histogram>
